<launch>
  <node pkg="turtlesim" type="turtlesim_node" name="sim" />

  <node pkg="joy" type="joy_node" name="PS3_turtle_joy" output="screen">
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>
  <param name="axis_linear" value="1" type="int" />
  <param name="axis_angular" value="0" type="int" />
  <param name="scale_linear" value="2" type="double" />
  <param name="scale_angular" value="2" type="double" />
  <node pkg="learn_ps3joy" type="turtle_teleop_ps3joy" name="teleop" />
</launch>
